{
  "rabbitmq": {
    "host": "localhost",
    "vhost": "/{{ sensu_vhost }}",
    "user": "{{ sensu_user }}",
    "password": "{{ sensu_password }}"
  },
  "redis": {
    "host": "localhost"
  },
  "api": {
    "port": 4567
  }
}
