upstream wsgi_server {
    server unix:{{ project_path }}/run/gunicorn.sock fail_timeout=0;
}

server {
    listen 80;
    server_name {{ nginx_server_name }};
    return 301 http://www.{{ nginx_server_name }}$request_uri;
}


server {
    listen 80;
    server_name www.{{ nginx_server_name }};

    charset utf-8;
    client_max_body_size 4G;

    access_log /srv/www/senexcycles.com/logs/nginx_access.log;
    error_log /srv/www/senexcycles.com/logs/nginx_error.log;

    location /static/ {
        alias /srv/www/senexcycles.com/senex_cart/static/;
    }

    location /media/ {
        alias /srv/www/senexcycles.com/senex_cart/media/;
        autoindex on;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://wsgi_server;
            break;
        }

    }
}